/* --------------------- *
    HTML ELEMENTS
 * --------------------- */
@import url('reset.css');
@import url('bootstrap.min.css');
html, body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    background: #eeefe9 url('../images/texture8.png') repeat;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-letter-spacing: 50px;
}
h1, h2, h3, h4{
    font-family: 'Abel', sans-serif;   
}
h2,h3 {
    color: rgb(41,60,165);
}
h4 {
    font-size: 2em;
}
b, strong{
    font-weight: 400;
}
hr {
    border-top: 2x solid rgb(41,60,165);
    background-color: rgb(42,60,165);
    margin: 10px auto;
    padding: 2px;
}
input, button {
    background-color: rgba(222,222,222,0.99);
    border-radius: 5px;
    min-height: 35px;
    padding: 5px 10px;
    vertical-align: middle;
    border: 1px solid #c6c6c6;
    margin: 2px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}
/* --------------------- *
    SPECIFIC ITEMS
 * --------------------- */

/* Navbar */
.navbar {
    min-height: 85px;
    background: -moz-linear-gradient(-45deg,  rgba(41,60,165,1) 0%, rgba(42,77,183,1) 36%, rgba(46,93,170,1) 56%, rgba(44,78,170,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(41,60,165,1)), color-stop(36%,rgba(42,77,183,1)), color-stop(56%,rgba(46,93,170,1)), color-stop(100%,rgba(44,78,170,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(41,60,165,1) 0%,rgba(42,77,183,1) 36%,rgba(46,93,170,1) 56%,rgba(44,78,170,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(41,60,165,1) 0%,rgba(42,77,183,1) 36%,rgba(46,93,170,1) 56%,rgba(44,78,170,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(41,60,165,1) 0%,rgba(42,77,183,1) 36%,rgba(46,93,170,1) 56%,rgba(44,78,170,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(41,60,165,1) 0%,rgba(42,77,183,1) 36%,rgba(46,93,170,1) 56%,rgba(44,78,170,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293ca5', endColorstr='#2c4eaa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background: rgb(41,60,165) url('../images/texture9.png');
    border: none;
    padding-top: 25px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 5px rgba(20,20,20,.5);
}
.navbar-brand {
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: 600;
    color: #f0f0f2 !important;
}
.navbar-brand img {
    width: 100px;
    float: left;
    position: relative;
    top: -25px;
}
.navbar-form {
    position: absolute;
    top: 35px;
    right: 25px;
}
.navbar-form input[type="text"] {
    margin-right: 0px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 150px;
}
.navbar-form input[type="text"]:focus, .navbar-form input[type="text"]:focus + button {
    outline: none;
    background-color: #f7e7e7;
}
.navbar-form button {
    margin-left: 0px;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.navbar-collapse {
    margin-right: 25px;
}
.navbar-nav li a {
    border: none !important;
    margin: 25px 0;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #f0f0f2 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a, .navbar-nav li a:active {
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.5), inset -2px 0 2px rgba(0,0,0,.5);
    background-color: rgba(223,222,221,.5) !important;
}
.navbar-nav li a.selected {
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.5), inset -2px 0 2px rgba(0,0,0,.5);
    background-color: rgba(223,222,221,.5) !important;
    text-decoration: underline;
}
.navbar-nav .dropdown .dropdown-menu li a {
    box-shadow: none; !important;
    border: none;
    color: #00060d !important;
}
.dropdown-menu {
    background-color: rgba(238,239,233,.8);
}
.submenu img {
    height: 180px;
}
.submenu .sublinks {
    -webkit-columns: 2 125px;
    -moz-columns: 2 125px;
    columns: 2 125px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
}
.sublinks ul li {
    padding-left: 2em;
    text-indent: -1em;
}
.sublinks ul {
    list-style: none;
}
.submenu h3 {
    display: block;
    text-align: center;
}
.subimage {
    background: rgba(255,255,255,.1) url('../images/shadow5.png') no-repeat bottom;
    background-size: contain;
    padding: 0 0 12px 0;
}
/* Carousel */
.carousel-caption{
    z-index: 10;
}
.carousel-inner > .item > img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 300px;
}
#carouselMenu {
    display: block;
    height: 40px;
    clear: both;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(0,0,0,.25);
}
#carouselMenu li {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    float: left;
    list-style: none;
    cursor: pointer;
    text-shadow: 3px 2px 5px #777;
    font-weight: 500;
}
#carouselMenu li.active {
    color: #fff !important;
}
#slide1 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 25%,rgba(0,0,0,0.6) 42%,rgba(0,0,0,0.81) 76%,rgba(0,0,0,0.23) 90%,rgba(0,0,0,0) 100%), url('../images/slide01.jpg') no-repeat center; /* W3C */
}

#slide2 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 25%,rgba(0,0,0,0.6) 42%,rgba(0,0,0,0.81) 76%,rgba(0,0,0,0.23) 90%,rgba(0,0,0,0) 100%), url('../images/slide02.jpg') center left no-repeat; /* W3C */
}

#slide3 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 25%,rgba(0,0,0,0.6) 42%,rgba(0,0,0,0.81) 76%,rgba(0,0,0,0.23) 90%,rgba(0,0,0,0) 100%), url('../images/slide03.jpg') center no-repeat;
}
#slide4 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 25%,rgba(0,0,0,0.6) 42%,rgba(0,0,0,0.81) 76%,rgba(0,0,0,0.23) 90%,rgba(0,0,0,0) 100%), url('../images/slide04.jpg') center no-repeat;
}
.carousel .item p, .carousel .item h1 {
    color: rgb(240,240,240);
    text-shadow: -0.75px 1px 1px #999;

}
.submenu {
    position: relative;
    clear: both;
    background-color: #ffffff;
    padding: 5px 20px;
    border: 5px solid rgb(41,60,165);
    border-radius: 0 0 5px 5px;
}
#test,
#test2 {
    display: none;
}
/* Intro block */
.intro-block{
    background: rgb(41,60,165) url('../images/texture9.png') repeat;
    padding: 60px 50px 40px;
    color: #fff;
    box-shadow: 0 3px 5px rgba(20,20,20,.5);
}
.text-muted{
    color: #e9e6df;
    font-weight: 100;
}
#animBrand{
    position:relative;
    padding-top: 20px;
    left: -500px;
}
#animText{
    position:relative;
    right: -500px;
}
#animText.animate {
    right: 0;
}
#animBrand.animate {
    left: 0;
}
.padded{
    padding: 50px 40px;
}
.padded img {
    -moz-transform:scale(0.5,0.5);
    -webkit-transform:scale(0.5,0.5);
    -o-transform:scale(0.5,0.5);
    transform:scale(0.5,0.5);
}
.service {

}
.service img {
    max-height: 150px;
}
.service h3 {

}
.service p {

}
.service .btn-default {

}
.marketing{
    background-color: #e9e6df;   
}

.info{
    background: #ffa753 url(../images/skyline.png) repeat-x bottom;
    padding: 80px 0;
}
.info small{
    color: #eeefe9;   
}
.info a{
    color: #fff;   
}
.info a:hover{
    color: #333;   
}
.tab-pane{
    padding: 40px 10px 0 10px;
}
/* Footer */
.ftr {
    background: rgb(41,60,165) url('../images/texture9.png') repeat;
    padding: 0 0 60px 0;
	height: 300px;
}
.ftr address, .ftr a, .ftr p{
    color: #fff;   
}
.ftr_space{
	padding-right: 40px;
	padding-top: 40px;
}
.ftr_space img{
	margin-bottom: 10px;
}
.footpad{
    padding: 80px 0 0 40px;
}
/* Blog */
.blog h1 a{ color: #4b8575; }
.blog p a{ color: #ed7337; }
/* Sidebar */
.sidebar{
    background-color: #e9e6df;   
}
/* Map */
.bpad{ margin-bottom: 30px;}
.map {
    height: 350px;
    width: 100%;
}

/* --------------------- *
    GLOBAL CLASSES
 * --------------------- */
.animate, #test, #test2 {
    -moz-transition: 1.4s cubic-bezier(.57,-0.97,.64,1.64);
    -webkit-transition: 1.4s cubic-bezier(.57,-0.97,.64,1.64);
    -o-transition: 1.4s cubic-bezier(.57,-0.97,.64,1.64);
    transition: 1.4s cubic-bezier(.57,-0.97,.64,1.64);

    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -moz-animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    -o-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

/* --------------------- *
    ANIMATIONS
 * --------------------- */

img.img-circle.animate {
    -moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
}
#test.animate, #test2.animate {
    transition-property: opacity;
    opacity: 1;
}

/* --------------------- *
    MEDIA QUERIES
 * --------------------- */

@media(min-width: 768px){
    .carousel-inner > .item{
        height: 380px;
    }
    .map {
        height: 500px;
    }
    
}
@media(max-width: 991px){
    .navbar-form {
        border: none;
        outline: none;
        top: 0px;
        right: 40px;
        z-index: 1;
    }
    .navbar-form input, .navbar-form button {
        height: 20px;
    }
}
@media(max-width: 768px){
    .navbar-form {
        position: static;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a, .navbar-nav li a {
        box-shadow: none;
    }
    .navbar-nav li a {
        border: none;
    }
    .navbar-collapse {
        float: none !important;
    }
    .navbar-brand {
        font-size: 1.25em;
    }
    .container {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
    #carouselMenu {
        height: 60px;
    }
    .ft_space{
        padding: 0 100px;
    }
    .padded .col-sm-6 img {
        margin: 0 auto;
    }
}


